{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Hello!</title>
    <meta
      name="description"
      content="A simple accordion made using javascript, jquery, and django"
    />
    <meta name="author" content="Teofanus Gary Setiawan" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'accordion/css/index.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'accordion/js/index.js' %}"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}" />
  </head>
  <body>
    <section class="flex flex-col min-h-screen">
      <header
        id="title"
        class="text-center mt-8 text-7xl sm:text-8xl flex-initial font-bold animate-pulse"
      >
        Accordion
      </header>

      <div
        class="flex-auto mx-8 sm:mx-16 md:mx-32 lg:mx-64 text-2xl flex flex-col justify-center gap-y-6"
      >
        <div id="accordion" class="flex flex-col gap-y-3">
          <article>
            <header class="flex gap-x-4 justify-between rounded px-2 py-1 mb-2">
              <h1 class="flex-grow cursor-pointer">About Me</h1>
              <div class="flex items-center">
                <button class="arrowDown focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-down"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <polyline points="19 12 12 19 5 12"></polyline>
                  </svg>
                </button>
                <button class="arrowUp focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-up"
                  >
                    <line x1="12" y1="19" x2="12" y2="5"></line>
                    <polyline points="5 12 12 5 19 12"></polyline>
                  </svg>
                </button>
              </div>
            </header>
            <div id="description" class="p-4 text-lg hidden rounded">
              <p>
                My name is Teofanus Gary Setiawan. I’m a sophomore computer
                science student at University of Indonesia. I’m also an avid
                coffe lover to help me in my sleepless nights. My field of
                interest are programming and math.
              </p>
            </div>
          </article>

          <article>
            <header class="flex gap-x-4 justify-between rounded px-2 py-1 mb-2">
              <h1 class="flex-grow cursor-pointer">Current Activity</h1>
              <div class="flex items-center">
                <button class="arrowDown">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-down"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <polyline points="19 12 12 19 5 12"></polyline>
                  </svg>
                </button>
                <button class="arrowUp">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-up"
                  >
                    <line x1="12" y1="19" x2="12" y2="5"></line>
                    <polyline points="5 12 12 5 19 12"></polyline>
                  </svg>
                </button>
              </div>
            </header>
            <div id="description" class="p-4 text-lg hidden rounded">
              <p>Doing tons of homework</p>
            </div>
          </article>

          <article>
            <header class="flex gap-x-4 justify-between rounded px-2 py-1 mb-2">
              <h1 class="flex-grow cursor-pointer">Organisation</h1>
              <div class="flex items-center">
                <button class="arrowDown focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-down"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <polyline points="19 12 12 19 5 12"></polyline>
                  </svg>
                </button>
                <button class="arrowUp focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-up"
                  >
                    <line x1="12" y1="19" x2="12" y2="5"></line>
                    <polyline points="5 12 12 5 19 12"></polyline>
                  </svg>
                </button>
              </div>
            </header>
            <div id="description" class="p-4 text-lg hidden rounded">
              <ul>
                <li>COMPFEST Competition</li>
                <li>KMK</li>
                <li>PERAK</li>
              </ul>
            </div>
          </article>

          <article>
            <header class="flex gap-x-4 justify-between rounded px-2 py-1 mb-2">
              <h1 class="flex-grow cursor-pointer">Achievement</h1>
              <div class="flex items-center">
                <button class="arrowDown focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-down"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <polyline points="19 12 12 19 5 12"></polyline>
                  </svg>
                </button>
                <button class="arrowUp focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-up"
                  >
                    <line x1="12" y1="19" x2="12" y2="5"></line>
                    <polyline points="5 12 12 5 19 12"></polyline>
                  </svg>
                </button>
              </div>
            </header>
            <div id="description" class="p-4 text-lg hidden rounded">
              <ul>
                <li>Juara 2 CTF COMPFEST</li>
              </ul>
            </div>
          </article>
        </div>

        <div class="flex justify-center">
          <button
            class="order-last rounded-full py-1 px-6 text-xl ring-4 focus:outline-none ring-purple-900"
            style="background-color: var(--primary); color: var(--black)"
            id="add"
          >
            Add
          </button>
        </div>
      </div>

      <template id="accordion-item-template">
        <article>
          <header class="flex gap-x-4 justify-between rounded px-2 py-1 mb-2">
            <h1 id="header" class="flex-grow cursor-pointer">Header</h1>
            <div class="flex items-center">
              <button class="arrowDown focus:outline-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-arrow-down"
                >
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <polyline points="19 12 12 19 5 12"></polyline>
                </svg>
              </button>
              <button class="arrowUp focus:outline-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-arrow-up"
                >
                  <line x1="12" y1="19" x2="12" y2="5"></line>
                  <polyline points="5 12 12 5 19 12"></polyline>
                </svg>
              </button>
              <button class="delete focus:outline-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-trash-2"
                >
                  <polyline points="3 6 5 6 21 6"></polyline>
                  <path
                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                  ></path>
                  <line x1="10" y1="11" x2="10" y2="17"></line>
                  <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
              </button>
            </div>
          </header>
          <div id="description" class="p-4 text-lg hidden rounded">
            <p>Description</p>
          </div>
        </article>
      </template>
    </section>

    <section id="modal" class="hidden absolute z-10 inset-0 overflow-y-auto">
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >

        <div
          class="inline-block align-bottom rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
          role="dialog"
          aria-modal="true"
          aria-labelledby="modal-headline"
          style="background-color: var(--black); color: var(--primary)"
        >
          <div
            class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4"
            style="background-color: var(--black)"
          >
            <div class="mt-3 text-center sm:mt-0 sm:text-left">
              <h3
                class="text-xl leading-6 font-bold text-center"
                id="modal-headline"
              >
                Add more !
              </h3>
              <div class="mt-2">
                <form action="" id="form" class="flex flex-col">
                  <label for="header">Header</label>
                  <input type="text" name="header" required />

                  <label for="header">Description</label>
                  <textarea type="text" name="description" required></textarea>
                </form>
              </div>
            </div>
          </div>
          <div
            class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
            style="background-color: #423d51"
          >
            <button
              type="submit"
              class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-900 sm:ml-3 sm:w-auto sm:text-sm"
              form="form"
              style="background-color: var(--primary); color: var(--black)"
              id="submit_form"
            >
              Submit
            </button>
            <button
              id="close"
              type="button"
              class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
              style="background-color: var(--white); color: var(--black)"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
